.task {
  list-style-type: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.task__text {
  font-size: 14px;
  line-height: 16px;
  margin: 30px 0 0;
}

.task__info {
  display: flex;
  justify-content: space-between;
}

.task__data {
  font-size: 11px;
  line-height: 13px;
  color: rgba(0, 0 , 0, 0.5);
}

.task__edit {
  width: 21px;
  height: 21px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url(../../images/icons.svg);
  background-position: -63px;
}
.task__edit:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}